#menu {
    background-color: rgb(153, 153, 187);
    border: 2px solid black;
    color: black;
    padding: 10px 35px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    margin: 0px;
    cursor: pointer;
    outline: 2px solid black;
}

.border {
    border: 2px black;
}